In [4]:
import mysql.connector #import library untuk menghubungkan ke mysql

# buat koneksi ke database
db = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

# buat kursor
crs = db.cursor()

# buat database D3TI
crs.execute("CREATE DATABASE D3TI")

# gunakan database D3TI
crs.execute("USE D3TI")

# buat tabel Mata_Kuliah
crs.execute("CREATE TABLE Mata_Kuliah (\
  Kode_MK VARCHAR(10) PRIMARY KEY, \
  Nama_MK VARCHAR(50), \
  Waktu DATE, \
  Ruangan VARCHAR(10) \
)")

# buat tabel Mahasiswa
crs.execute("CREATE TABLE Mahasiswa (\
  NIM VARCHAR(10) PRIMARY KEY, \
  Nama VARCHAR(30), \
  Alamat VARCHAR(255), \
  Mata_kuliah VARCHAR(10), \
  Tahun_Angkatan CHAR(4), \
  FOREIGN KEY (Mata_kuliah) REFERENCES Mata_Kuliah(Kode_MK) \
)")

# buat tabel Dosen
crs.execute("CREATE TABLE Dosen (\
  NIP VARCHAR(20) PRIMARY KEY, \
  Nama_Dosen VARCHAR(50), \
  Mata_Kuliah VARCHAR(10), \
  FOREIGN KEY (Mata_Kuliah) REFERENCES Mata_Kuliah(Kode_MK) \
)")

In [ ]:
#menambah data pada tabel mata kuliah
#menyimpan query insert ke variable sql
sql = "INSERT INTO Mata_Kuliah (Kode_MK, Nama_MK, Waktu, Ruangan) VALUES (%s, %s, %s, %s)" 
#menyimpan data yang akan ditambhkan dengan list
val = [
  ("Mk001", "Algoritma dan Struktur Data", "2023-04-01", "A1"),
  ("Mk002", "Pemrograman Berorientasi Objek", "2023-04-02", "B1"),
  ("Mk003", "Sistem Operasi", "2023-04-03", "C1"),
  ("Mk004", "Jaringan Komputer", "2023-04-04", "D1"),
  ("Mk005", "Basis Data", "2023-04-05", "E1"),
  ("Mk006", "Interaksi Manusia dan Komputer", "2023-04-06", "F1"),
  ("Mk007", "Komputer dan Masyarakat", "2023-04-07", "G1"),
  ("Mk008", "Rekayasa Perangkat Lunak", "2023-04-08", "H1"),
  ("Mk009", "Kecerdasan Buatan", "2023-04-09", "I1"),
  ("Mk010", "Analisis dan Perancangan Sistem Informasi", "2023-04-10", "J1")
]
#mengeksekusi multiple data diatas
crs.executemany(sql, val)
#commit database
db.commit()

In [6]:
#menambah data pada tabel dosen
#menyimpan query insert ke variable sql

sql = "INSERT INTO Dosen (NIP, Nama_Dosen, Mata_Kuliah) VALUES (%s, %s, %s)"
#menyimpan data yang akan ditambhkan dengan list
val = [
  ('1234567890', 'Robert Downey Jr.', 'MK001'),
  ('2345678901', 'Tom Hanks', 'MK002'),
  ('3456789012', 'Keanu Reeves', 'MK003'),
  ('4567890123', 'Gong Yoo', 'MK004'),
  ('5678901234', 'Lee Min-ho', 'MK005'),
  ('6789012345', 'Song Joong-ki', 'MK006'),
  ('7890123456', 'Kim Soo-hyun', 'MK007'),
  ('8901234567', 'Yamazaki Kento', 'MK008'),
  ('9012345678', 'Suda Masaki', 'MK009'),
  ('0123456789', 'Kento Nakajima', 'MK010')
]
#mengeksekusi multiple data diatas
crs.executemany(sql, val)
#commit database
db.commit()

print(crs.rowcount, "data berhasil disimpan pada tabel Dosen.")

10 data berhasil disimpan pada tabel Dosen.

In [11]:
#menambah data pada tabel mahasiswa
#menyimpan query insert ke variable sql
sql = "INSERT INTO Mahasiswa (NIM, Nama, Alamat, Mata_kuliah, Tahun_angkatan) VALUES (%s, %s, %s, %s, %s)"
#menyimpan data yang akan ditambhkan dengan list
val = [
('V39220001', 'Choi Jungwoo', 'Jakarta', 'Mk010', '2019'),
       ('V39220002', 'Ni-Ki', 'Surabaya', 'Mk004', '2020'),
       ('V39220003', 'Bang Chan', 'Yogyakarta', 'Mk005', '2021'),
       ('V39220004', 'Kei', 'Bandung', 'Mk006', '2019'),
       ('V39220005', 'Mujin', 'Surabaya', 'Mk007', '2020'),
       ('V39220006', 'Sunghoon', 'Jakarta', 'Mk008', '2021'),
       ('V39220007', 'Shotaro', 'Yogyakarta', 'Mk006', '2023'),
       ('V39220008', 'Kevin', 'Surabaya', 'Mk010', '2019'),
       ('V39220009', 'Hwall', 'Bandung', 'Mk001', '2020'),
       ('V39220010', 'Aria', 'Jakarta', 'Mk002', '2021'),
       ('V39220011', 'Doyoung', 'Yogyakarta', 'Mk003', '2019'),
       ('V39220012', 'Sunoo', 'Surabaya', 'Mk004', '2020'),
       ('V39220013', 'Jaemin', 'Bandung', 'Mk005', '2021'),
       ('V39220014', 'Juyeon', 'Jakarta', 'Mk006', '2019'),
       ('V39220015', 'Yuta', 'Surabaya', 'Mk007', '2020'),
       ('V39220016', 'Heeseung', 'Yogyakarta', 'Mk008', '2021'),
       ('V39220017', 'Laeli', 'Jakarta', 'Mk009', '2023'),
       ('V39220018', 'Jungwon', 'Surabaya', 'Mk010', '2019'),
       ('V39220019', 'Ririn', 'Bandung', 'Mk001', '2020'),
       ('V39220020', 'Jaehyun', 'Jakarta', 'Mk002', '2021'),
       ('V39220021', 'Jake', 'Yogyakarta', 'Mk010', '2019'),
       ('V39220022', 'Sunghyoon', 'Surabaya', 'Mk004', '2020'),
       ('V39220023', 'Rowoon', 'Bandung', 'Mk005', '2021'),
       ('V39220024', 'Jihoon', 'Jakarta', 'Mk006', '2019'),
       ('V39220025', 'Niki', 'Surabaya', 'Mk007', '2020'),
       ('V39220026', 'Jay', 'Yogyakarta', 'Mk008', '2021'),
       ('V39220027', 'Salsa', 'Jakarta', 'Mk009', '2023'),
       ('V39220028', 'Chanhee', 'Surabaya', 'Mk009', '2019'),
       ('V39220029', 'Taki', 'Bandung', 'Mk001', '2020'),
       ('V39220030', 'Chanyeol','Magetan', 'Mk001','2019')
]
#mengeksekusi multiple data diatas
crs.executemany(sql, val)
#commit database
db.commit()

print(crs.rowcount, "data berhasil disimpan pada tabel Mahasiswa.")

30 data berhasil disimpan pada tabel Mahasiswa.